.grid_1 {
	WIDTH: 5%
}
.grid_2 {
	WIDTH: 13.33%
}
.grid_3 {
	WIDTH: 21.66%
}
.grid_4 {
	WIDTH: 30%
}
.grid_5 {
	WIDTH: 38.33%
}
.grid_6 {
	WIDTH: 46.66%
}
.grid_7 {
	WIDTH: 55%
}
.grid_8 {
	WIDTH: 63.33%
}
.grid_9 {
	WIDTH: 71.66%
}
.grid_10 {
	WIDTH: 80%
}
.grid_11 {
	WIDTH: 88.33%
}
.grid_12 {
	WIDTH: 96.66%
}
.grid_1 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_2 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_3 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_4 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_5 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_6 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_7 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_8 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_9 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_10 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_11 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.grid_12 {
	DISPLAY: block; FLOAT: left; MARGIN-LEFT: 1.66%; MARGIN-RIGHT: 1.66%
}
.alpha {
	MARGIN-LEFT: 0px
}
.omega {
	MARGIN-RIGHT: 0px
}
.container {
	MIN-WIDTH: 800px; MARGIN: auto; MAX-WIDTH: 1200px
}
.clear {
	WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; OVERFLOW: hidden
}
.clearfix:after {
	LINE-HEIGHT: 0; WIDTH: 0px; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; FONT-SIZE: 0px; CONTENT: ' '
}
* HTML .clearfix {
	ZOOM: 1
}
*:first-child + HTML .clearfix {
	ZOOM: 1
}
