* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: helvetica, arial, verdana; PADDING-TOP: 0px
}
BODY {
	 
}
DIV.overlay {
	Z-INDEX: 10000; BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 30px; -webkit-box-shadow: 0 0 10px #ddd; -webkit-border-radius: 10px; -moz-box-shadow: 0 0 10px #ddd; -moz-border-radius: 10px; box-shadow: 0 0 10px #ddd; border-radius: 10px
}
DIV.overlay P {
	FONT-SIZE: 13px
}
DIV.overlay .close {
	POSITION: absolute; WIDTH: 35px; BACKGROUND: url(close.png) no-repeat 0px 18px; HEIGHT: 35px; TOP: -15px; CURSOR: pointer; RIGHT: -15px
}
DIV#answer {
	WIDTH: 600px
}
DIV#push {
	WIDTH: 300px
}

div#portrait { position:absolute; left:700px; top:100px; width: 500px; height: 500px; background-image: url(popeye.jpg); background-repeat: no-repeat;
               -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }





P {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 60px; LINE-HEIGHT: 26px; FONT-STYLE: normal; COLOR: #707070; FONT-SIZE: 25px; FONT-WEIGHT: normal
}
A {
	COLOR: #707070; CURSOR: pointer; TEXT-DECORATION: none
}
TABLE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
H2 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Helvetica Neue", helvetica, arial, verdana; COLOR: #707070; FONT-SIZE: 64px; FONT-WEIGHT: 200; PADDING-TOP: 60px
}
H2 SPAN {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Helvetica Neue", helvetica, arial, verdana; COLOR: #707070  ; FONT-SIZE: 70px; FONT-WEIGHT: 2000; PADDING-TOP: 60px
}
.gray {
	COLOR: #707070
}
DIV#epigraph P {
	LINE-HEIGHT: 1.6; FONT-STYLE: italic; COLOR: #707070; FONT-SIZE: 12px
}
IMG.demo {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; MARGIN: 20px 20px 20px 0px; WIDTH: 40%; FLOAT: left; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; -webkit-box-shadow: 0 2px 10px #bbb; -moz-box-shadow: 0 2px 10px #bbb; box-shadow: 0 2px 10px #bbb
}
.awesome {
	POSITION: relative; PADDING-BOTTOM: 6px; LINE-HEIGHT: 1; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; DISPLAY: inline-block; BACKGROUND: url(images/button-overlay.png) #222 repeat-x; COLOR: #fff; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
}
.awesome:active {
	TOP: 1px
}
.awesome.small {
	FONT-SIZE: 11px
}
.awesome.medium {
	FONT-SIZE: 13px
}
.awesome.large {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; FONT-SIZE: 14px; PADDING-TOP: 8px
}
.awesome.blue {
	BACKGROUND-COLOR: #2daebf
}
.awesome.red {
	BACKGROUND-COLOR: #e33100
}
.awesome.magenta {
	BACKGROUND-COLOR: #a9014b
}
.awesome.orange {
	BACKGROUND-COLOR: #ff5c00
}
.awesome.yellow {
	BACKGROUND-COLOR: #ffb515
}
.awesome.green {
	BACKGROUND-COLOR: rgb(184,211,11)
}
.awesome.green:hover {
	BACKGROUND-COLOR: #749a02
}
.awesome.blue:hover {
	BACKGROUND-COLOR: #007d9a
}
.awesome.red:hover {
	BACKGROUND-COLOR: #872300
}
.awesome.magenta:hover {
	BACKGROUND-COLOR: #630030
}
.awesome.orange:hover {
	BACKGROUND-COLOR: #d45500
}
.awesome.yellow:hover {
	BACKGROUND-COLOR: #fc9200
}
.awesome:hover {
	COLOR: #fff
}
