.pushme_widget INPUT:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
.pushme_widget TEXTAREA:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
.pushme_widget TEXTAREA {
	resize: none
}
.pushme_widget IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.pushme_widget {
	WIDTH: 100%; FONT: 16px/100% Tahoma, Geneva, "DejaVu Sans", Sans, sans-serif
}
.christmas.pushme_widget {
	WIDTH: 200px
}
.valentine.pushme_widget {
	WIDTH: 200px
}
.pushme_widget_form {
	BORDER-BOTTOM: #ebeef1 1px solid; BORDER-LEFT: #ebeef1 1px solid; PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; BORDER-TOP: #ebeef1 1px solid; BORDER-RIGHT: #ebeef1 1px solid; PADDING-TOP: 9px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px
}
.valentine.pushme_widget > .pushme_widget_inner {
	BORDER-BOTTOM: #ebeef1 1px solid; BORDER-LEFT: #ebeef1 1px solid; PADDING-BOTTOM: 20px; MARGIN: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; BORDER-TOP: #ebeef1 1px solid; BORDER-RIGHT: #ebeef1 1px solid; PADDING-TOP: 9px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px
}
.valentine.pushme_widget > .pushme_widget_form {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 20px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; BACKGROUND: url(http://pushme.to/img/widget/bg_widget_valentine.png) no-repeat left top; HEIGHT: 320px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 20px
}
.valentine.pushme_widget > .pushme_widget_inner {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 20px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; BACKGROUND: url(http://pushme.to/img/widget/bg_widget_valentine.png) no-repeat left top; HEIGHT: 320px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 20px
}
.valentine.pushme_widget > .pushme_widget_inner {
	HEIGHT: 320px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0
}
.christmas.pushme_widget > .pushme_widget_form {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(http://pushme.to/img/widget/bg_widget_christmas.jpg) no-repeat left top; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.pushme_widget_form FIELDSET {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.pushme_widget_form FIELDSET > A {
	WIDTH: 136px; DISPLAY: block; BACKGROUND: url(http://pushme.to/img/widget/bg_widget_logo.png) no-repeat left top; HEIGHT: 28px
}
.pushme_widget > .pushme_widget_inner > A {
	WIDTH: 136px; DISPLAY: block; BACKGROUND: url(http://pushme.to/img/widget/bg_widget_logo.png) no-repeat left top; HEIGHT: 28px
}
.valentine.pushme_widget > .pushme_widget_form FIELDSET > A {
	BACKGROUND-IMAGE: url(http://pushme.to/img/widget/bg_widget_valentine_logo.png)
}
.valentine.pushme_widget > .pushme_widget_inner > A {
	BACKGROUND-IMAGE: url(http://pushme.to/img/widget/bg_widget_valentine_logo.png)
}
.christmas.pushme_widget > .pushme_widget_form FIELDSET > A {
	BACKGROUND-IMAGE: url(http://pushme.to/img/widget/bg_widget_christmas_logo.png); MARGIN-BOTTOM: 62px
}
.valentine.pushme_widget > .pushme_widget_form FIELDSET > SMALL {
	LINE-HEIGHT: 14px; WIDTH: 120px; DISPLAY: block; MARGIN-BOTTOM: 15px; COLOR: #925480; FONT-SIZE: 11px
}
.valentine.pushme_widget > .pushme_widget_inner > SMALL {
	LINE-HEIGHT: 14px; WIDTH: 120px; DISPLAY: block; MARGIN-BOTTOM: 15px; COLOR: #925480; FONT-SIZE: 11px
}
.pushme_widget_form FIELDSET > P {
	MARGIN: 10px 0px 22px; COLOR: #738699; FONT-SIZE: 11px
}
.christmas.pushme_widget .pushme_widget_warning {
	MARGIN-BOTTOM: 10px
}
.pushme_widget_form TABLE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-SPACING: 0; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.pushme_widget_form TABLE TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.pushme_widget_form LABEL {
	MARGIN: 12px 0px 8px; DISPLAY: block; FONT-FAMILY: Tahoma, Geneva, "DejaVu Sans", Sans, sans-serif; COLOR: #4a5d70; FONT-SIZE: 14px
}
.valentine.pushme_widget > .pushme_widget_form LABEL {
	COLOR: #634a70
}
.christmas.pushme_widget .pushme_widget_label_captcha {
	DISPLAY: none
}
.pushme_widget_form SMALL {
	MARGIN-TOP: 4px; DISPLAY: block; COLOR: #ff9900; FONT-SIZE: 12px
}
.valentine.pushme_widget > .pushme_widget_form SMALL {
	COLOR: #cc0000
}
.pushme_widget_message_text {
	DISPLAY: block
}
.pushme_widget_message_signature {
	DISPLAY: block
}
.pushme_widget_message_text {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 3px; OVERFLOW-Y: hidden; BACKGROUND-COLOR: transparent; MARGIN-TOP: -3px; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; FONT-FAMILY: Tahoma, Geneva, "DejaVu Sans", Sans, sans-serif; COLOR: #000; FONT-SIZE: 18px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.pushme_widget_message_signature {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 3px; OVERFLOW-Y: hidden; BACKGROUND-COLOR: transparent; MARGIN-TOP: -3px; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; FONT-FAMILY: Tahoma, Geneva, "DejaVu Sans", Sans, sans-serif; COLOR: #000; FONT-SIZE: 18px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.pushme_widget_message_captha_text {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 3px; OVERFLOW-Y: hidden; BACKGROUND-COLOR: transparent; MARGIN-TOP: -3px; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; FONT-FAMILY: Tahoma, Geneva, "DejaVu Sans", Sans, sans-serif; COLOR: #000; FONT-SIZE: 18px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.pushme_widget_input {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
.pushme_widget_input_lt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 4px; PADDING-RIGHT: 0px; BACKGROUND: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAQAAAA9B+e4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFlJREFUCB0FwdsNgkAQAMDZde8uCr6IP9RCERRAMbRgYsPOFN8YR9/blmv9Yj7v52Qo9TiWczHpUr32j7eri1Dz9jQpIdRtHboENXRNgGqaAlRIiUClkCD8AXAxBgMuTNGBAAAAAElFTkSuQmCC) no-repeat left top; HEIGHT: 10px; PADDING-TOP: 0px
}
* + HTML .pushme_widget_input_lt {
	BACKGROUND: url(http://pushme.to/img/widget/bg_input_lt.png) no-repeat left top
}
.pushme_widget_input_t {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAAAAABQuWuWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABlJREFUCB1jWMokzyTKxMvEzMQExCxAzAgAEWABCY0NsTwAAAAASUVORK5CYII=) repeat-x left top; HEIGHT: 10px; PADDING-TOP: 0px
}
* + HTML .pushme_widget_input_t {
	BACKGROUND: url(http://pushme.to/img/widget/bg_input_t.png) repeat-x left top
}
.pushme_widget_input_rt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAQAAAA9B+e4AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGRJREFUCB0FwcENgkAQAMDZQu3BFuhFf34swYc92ICBcEYShDNgYJ2JU+7t775el/Mx45abxezTTE08creaDV6HeGbafA36S3RJ2oy6NkrCbtKLdwJVL8YkhaqIKUOiKqImMCv+BDM8qVXzuz0AAAAASUVORK5CYII=) no-repeat left top; PADDING-TOP: 0px
}
* + HTML .pushme_widget_input_rt {
	BACKGROUND: url(http://pushme.to/img/widget/bg_input_rt.png) no-repeat left top
}
.pushme_widget_input_l {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABAgMAAACApzdjAAAACVBMVEXv7+/a2tr6+vr7laO2AAAAC0lEQVQIHWPwWgAAATcA67faZQ0AAAAASUVORK5CYII=) repeat-y left top; PADDING-TOP: 0px
}
* + HTML .pushme_widget_input_l {
	BACKGROUND: url(http://pushme.to/img/widget/bg_input_l.png) repeat-y left top
}
.pushme_widget_input_i {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fafafa; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.pushme_widget_message_captha_text {
	HEIGHT: 25px
}
.pushme_widget_message_signature {
	HEIGHT: 25px
}
.pushme_widget_input_r {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 5px; PADDING-RIGHT: 0px; BACKGROUND: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABAgMAAACApzdjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF7+/v2tra+vr6+5WjtgAAAAtJREFUCB1jWCUAAAFnALvThUayAAAAAElFTkSuQmCC) repeat-y left top; PADDING-TOP: 0px
}
* + HTML .pushme_widget_input_r {
	BACKGROUND: url(http://pushme.to/img/widget/bg_input_r.png) repeat-y left top
}
.pushme_widget_input_lb {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAQAAADMUVVtAAAAOklEQVQIHWO48ezd/5//f4Ehw5XVr///gHHOxDz9/xUqx3CA8WbDayD3B1CAgYHhKOPNmKerXwP1AgDdczL0scsXHgAAAABJRU5ErkJggg==) no-repeat left top; PADDING-TOP: 0px
}
* + HTML .pushme_widget_input_lb {
	BACKGROUND: url(http://pushme.to/img/widget/bg_input_lb.png) no-repeat left top
}
.pushme_widget_input_b {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFAQMAAAC+ShTcAAAABlBMVEX6+vrv7++x3LrYAAAADElEQVQIHWNggIIGAACKAIGjl5cWAAAAAElFTkSuQmCC) repeat-x left top; HEIGHT: 5px; PADDING-TOP: 0px
}
* + HTML .pushme_widget_input_b {
	BACKGROUND: url(http://pushme.to/img/widget/bg_input_b.png) repeat-x left top
}
.pushme_widget_input_rb {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAFCAQAAADMUVVtAAAAPUlEQVQIHQXBwQ2AIBAAsD5uMFdzGAZgCGYxMT7BGCKebcyENJxHAGl5W0BapqcGn+XW915ieI/Zer3Klj8krx06McPyLwAAAABJRU5ErkJggg==) no-repeat left top; PADDING-TOP: 0px
}
* + HTML .pushme_widget_input_rb {
	BACKGROUND: url(http://pushme.to/img/widget/bg_input_rb.png) no-repeat left top
}
.pushme_widget_message_captcha {
	MARGIN: 10px 0px
}
.pushme_widget_message_submit {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN-TOP: 20px; PADDING-LEFT: 0px; WIDTH: 87px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND: url(http://pushme.to/img/widget/button_push.png) no-repeat left top; HEIGHT: 36px; FONT-SIZE: 16px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.valentine.pushme_widget > .pushme_widget_form FIELDSET > .pushme_widget_message_submit {
	BACKGROUND-IMAGE: url(http://pushme.to/img/widget/bg_widget_valentine_push.png)
}
.pushme_widget_message_submit > SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; DISPLAY: inline-block; HEIGHT: 20px; COLOR: #fff; VERTICAL-ALIGN: middle; PADDING-TOP: 8px; text-shadow: 0 -1px 0 #377e9d
}
.pushme_widget_message_submit:active {
	BACKGROUND-POSITION: left -36px
}
.widget_non_notifiable {
	BORDER-BOTTOM: #ebeef1 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ebeef1 1px solid; PADDING-BOTTOM: 16px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ebeef1 1px solid; BORDER-RIGHT: #ebeef1 1px solid; PADDING-TOP: 16px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px
}
.widget_success {
	BORDER-BOTTOM: #ebeef1 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #ebeef1 1px solid; PADDING-BOTTOM: 16px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ebeef1 1px solid; BORDER-RIGHT: #ebeef1 1px solid; PADDING-TOP: 16px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px
}
.valentine.pushme_widget > .pushme_widget_inner > .widget_non_notifiable {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN-TOP: 86px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0
}
.valentine.pushme_widget > .pushme_widget_inner > .widget_success {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; MARGIN-TOP: 86px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0
}
.widget_non_notifiable > H4 {
	MARGIN: 0px 0px 10px; FONT-SIZE: 18px; FONT-WEIGHT: normal
}
.widget_success > H4 {
	MARGIN: 0px 0px 10px; FONT-SIZE: 18px; FONT-WEIGHT: normal
}
.valentine.pushme_widget > .pushme_widget_inner > .widget_non_notifiable > H4 {
	MARGIN: 0px 0px 10px; COLOR: #634a70; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.valentine.pushme_widget > .pushme_widget_inner > .widget_success > H4 {
	MARGIN: 0px 0px 10px; COLOR: #634a70; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.widget_success > BUTTON {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 172px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pushme.to/img/button_push_another_one.png) no-repeat left top; HEIGHT: 36px; OVERFLOW: visible; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
.valentine.pushme_widget > .pushme_widget_inner > .widget_success > BUTTON {
	BACKGROUND-IMAGE: url(http://pushme.to/img/widget/bg_widget_valentine_push_another.png); WIDTH: 142px
}
.widget_success > BUTTON:active {
	BACKGROUND-POSITION: left -36px
}
.widget_success > BUTTON > SPAN {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; PADDING-LEFT: 9px; PADDING-RIGHT: 0px; DISPLAY: inline-block; COLOR: #fff; FONT-SIZE: 16px; PADDING-TOP: 5px; text-shadow: 0 -1px 0 #377e9d
}
.valentine.pushme_widget > .pushme_widget_inner > .widget_success > BUTTON > SPAN {
	text-shadow: 0 -1px 0 #b42a61
}
.want_link_this {
	TEXT-ALIGN: center; PADDING-BOTTOM: 7px; BACKGROUND-COLOR: #f6f6f6; MARGIN: 10px auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 0.8em; PADDING-TOP: 7px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px
}
.valentine.pushme_widget > .pushme_widget_inner > .want_link_this {
	PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #ffd2e3; MARGIN-TOP: 55px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
* + HTML .valentine.pushme_widget > .pushme_widget_inner > .want_link_this {
	BACKGROUND-COLOR: #ffd2e3 !important
}
.want_link_this > P {
	MARGIN: 0px
}
.valentine.pushme_widget > .pushme_widget_inner > .want_link_this > P {
	COLOR: #634a70; FONT-SIZE: 11px
}
.want_link_this > P > A {
	COLOR: #93a6b9; TEXT-DECORATION: underline
}
.valentine.pushme_widget > .pushme_widget_inner > .want_link_this > P > A {
	COLOR: #ea005a
}
